body {
	font-family: 'poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #eee;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	background-image: url('../img/404_jUoT8i.jpg');
	background-size: 100%;
	background-position: center;
}

.background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: 
		linear-gradient(to right bottom, 
		rgba(0, 168, 50, 0.8),
		rgba(97, 192, 191, 0.8));
}

.container {
	position: absolute;
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	height: calc(100vh - 60px); 
	max-width: 100%; 
	margin: 0 auto; 

}

.inner-container {
	background-color: rgba(0, 0, 0, 0.4); 
	border-radius: 20px;
	padding: 30px;
	text-align: center;
	width: 70%; 

}

.text-box {
	font-size: 1.1em;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	margin-top: 20px;
	border: 1px solid white;
}

.brand {
	font-size: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center; 
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 24px;

}

.brand img {
	width: 30px;
	height: 30px;
	margin-right: 2px;
}

.brand-divider {
	margin: 0 10px;
	color: rgba(255, 255, 255, 0.5);
}

.heading-primary {
	color: #fff;
	margin-bottom: 30px;
}

.heading-primary-main {
	text-transform: uppercase;
	display: block;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
}

.heading-primary-sub {
	display: block;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0px;
}

p {
	color: #fff;
	margin-top: 20px;
}

.return-home {
	margin-top: 20px;
}

.return-home a {
	display: inline-block;
	padding: 8px 20px;
	background-color: white;
	border-radius: 24px;
	color: black;
	text-decoration: none;
	font-weight: bold; 
	transition: transform 0.2s, filter 0.2s; 
}

.return-home a:hover {
	transform: scale(1.05);
	filter: brightness(1.2); 
	background-color: skyblue;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

footer {
	text-align: center;
	padding: 15px 0;
	font-size: 0.8em;
	color: white;
	margin-top: auto; 
	position: absolute;
	bottom: 10px; 
	width: 100%;
}
